:root {
  --containerHeight: 770px;
  --playerWidth: 36px;
  --playerHeight: 24px;
  --playerLeft: 50%;
}

.text {
  padding-left: 1rem;
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-family: "Times New Roman", Times, serif !important;
}

@font-face {
  font-family: "Azimov";
  src: url("assets/fonts/Asimov-nlg.ttf");
}

@font-face {
  font-family: "Computo Monospace";
  src: url("assets/fonts/ComputoMonospace-p73xO.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: min(960px, 100vh);
  font-family: "Azimov";
}

.everything-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game-container {
  position: relative;
  width: 1600px;
  height: var(--containerHeight);
  background-color: black;
  z-index: 1;
  overflow: hidden;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: white;
  z-index: -2;
}

@keyframes fadeRed {
  0% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

@keyframes fadeYellow {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: black;
  }
}

@keyframes fadeBlue {
  0% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@keyframes fadeGreen {
  0% {
    background-color: rgb(0, 255, 0);
  }
  100% {
    background-color: black;
  }
}

.fade-red {
  animation: fadeRed 1s forwards;
}

.fade-yellow {
  animation: fadeYellow 1s forwards;
}

.fade-blue {
  animation: fadeBlue 1s forwards;
}

.fade-green {
  animation: fadeGreen 1s forwards;
}

.aliens-grid {
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  width: 660px;
  height: 300px;
  z-index: 1;
  transition: transform 0.0167s linear;
}

.aliens-grid > div {
  width: 60px;
  height: 60px;
  background-image: url("assets/sprites/aliens.png");
  transform: scale(0.5);
}

@keyframes squidAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -120px 0;
  }
}

@keyframes crabAnimation {
  0% {
    background-position: 0 -60px;
  }
  50% {
    background-position: -120px -60px;
  }
  100% {
    background-position: 0 -60px;
  }
}

@keyframes blobAnimation {
  0% {
    background-position: 0 -120px;
  }
  50% {
    background-position: -60px -120px;
  }
}

@keyframes squidBlackAnimation {
  0% {
    background-position: 0 -180px;
  }
  50% {
    background-position: -120px -180px;
  }
  100% {
    background-position: 0 -180px;
  }
}

@keyframes crabBlackAnimation {
  0% {
    background-position: 0 -240px;
  }
  50% {
    background-position: -120px -240px;
  }
  100% {
    background-position: 0 -240px;
  }
}

@keyframes blobBlackAnimation {
  0% {
    background-position: 0 -300px;
  }
  50% {
    background-position: -60px -300px;
  }
}

.squid {
  animation: squidAnimation 1s infinite steps(2);
}

.crab {
  animation: crabAnimation 1s infinite steps(2);
}

.blob {
  animation: blobAnimation 0.5s infinite steps(1);
}

.squid-black {
  animation: squidBlackAnimation 1s infinite steps(2);
}

.crab-black {
  animation: crabBlackAnimation 1s infinite steps(2);
}

.blob-black {
  animation: blobBlackAnimation 0.5s infinite steps(1);
}

.aliens-grid > div.alien-explosion,
.alien-explosion {
  transform: scale(0.5);
  width: 60px;
  height: 60px;
  background-position: cover;
  background-repeat: no-repeat;
  background-image: url("assets/sprites/explosion.png");
}

.explosion {
  background-image: url("assets/sprites/explosion.png");
  transition: transform 0.0167s linear;
}

.player-bullet {
  position: absolute;
  background-image: url("assets/sprites/bullet.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 3px;
  height: 8px;
  filter: brightness(360%);
  z-index: -1;
  transition: transform 0.0167s linear;
  box-shadow: 0 0 10px 5px lawngreen;
}

.alien-bullet {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
  transition: transform 0.0167s linear;
}

.lightning {
  animation: lightningAnimation 0.1s infinite steps(2);
  background-image: url("assets/sprites/lightning.png");
  background-size: cover;
  transition: transform 0.0167s linear;
}

@keyframes lightningAnimation {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -10px;
  }
}

@keyframes fireballAnimation {
  0% {
    background-image: url("assets/sprites/fireball1.png");
  }
  50% {
    background-image: url("assets/sprites/fireball2.png");
  }
  100% {
    background-image: url("assets/sprites/fireball1.png");
  }
}

.cross {
  background-image: url("assets/sprites/cross.png");
  transition: transform 0.0167s linear;
}

.fireball {
  background-image: url("assets/sprites/fireball.png");
  animation: fireballAnimation 0.1s infinite;
  background-size: 50%;
  width: 30px;
  height: 120px;
  transition: transform 0.0167s linear;
}

.ufo-container {
  position: absolute;
  transition: transform 0.0167s linear;
}

.ufo-red {
  background-image: url("assets/sprites/RedShip128wx64H.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: transform 0.0167s linear;
}

.ufo-yellow {
  background-image: url("assets/sprites/YellowShip.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: transform 0.0167s linear;
}

.ufo-white {
  background-image: url("assets/sprites/WhiteShip.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: transform 0.0167s linear;
}

.ufo-blue {
  background-image: url("assets/sprites/BlueShip.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: transform 0.0167s linear;
}

.beam {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 52px;
  height: 0;
  background-color: yellow;
  clip-path: polygon(50% 0%, 0% 93%, 100% 93%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: bg 0.5s infinite, extendBeam 3s forwards;
  padding: 0;
  transition: transform 0.0167s linear;
}

@keyframes bg {
  0% {
    background-color: rgb(255, 255, 0, 0.5);
  }
  50% {
    background-color: rgb(255, 255, 0, 1);
  }
  100% {
    background-color: rgb(255, 255, 0, 0.5);
  }
}

@keyframes extendBeam {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--containerHeight));
  }
}

.opposite-beam {
  animation: oppositeExtendBeam 2s forwards;
  transition: transform 0.0167s linear;
}

@keyframes oppositeExtendBeam {
  0% {
    height: calc(var(--containerHeight));
  }
  100% {
    height: 0;
  }
}

.ufo > div.ufo-explosion,
.ufo-explosion {
  position: absolute;
  background-image: url("assets//sprites/explosion.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: transform 0.0167s linear;
}

.block {
  width: 48px;
  height: 48px;
  background-image: url("assets/sprites/barriers.png");
  background-position-y: 0px;
}

.barrier {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 192px;
  height: 144px;
}

.player {
  position: absolute;
  width: var(--playerWidth);
  height: var(--playerHeight);
  background-size: calc(var(--playerWidth) * 3) calc(var(--playerHeight));
  background-repeat: no-repeat;
  top: calc(var(--containerHeight) - var(--playerHeight) - 15px);
  background-image: url("assets/sprites/player-lives.png");
  transition: transform 0.0167s linear;
}

.player.explosion {
  background-image: url("assets/sprites/explosion.png");
  width: 36px;
  height: 36px;
  background-size: contain;
  transition: transform 0.0167s linear;
}

.player-beam {
  animation: move-player-up 2s forwards;
  transition: transform 0.0167s linear;
}

@keyframes move-player-up {
  0% {
    transform: translate(var(--playerLeft), 0);
  }
  100% {
    transform: translate(
      var(--playerLeft),
      calc(-1 * var(--containerHeight) + var(--playerHeight) + 15px)
    );
    opacity: 0;
  }
}

.life-1 {
  /* background-image: url("assets/sprites/player3.png"); */
  background-position-x: 0 0;
}

.life-2 {
  /* background-image: url("assets/sprites/player2.png"); */
  background-position: calc(-1 * var(--playerWidth)) 0;
}

.life-3 {
  /* background-image: url("assets/sprites/player1.png"); */
  background-position: calc(-2 * var(--playerWidth)) 0;
}

.life {
  background: url("assets/sprites/player3.png") center center / cover no-repeat;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.backdrop {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: -1;
}

.london {
  background-image: url("assets/background-images/london.png");
}

.chicago {
  background-image: url("assets/background-images/chicago.png");
}

.nyc {
  background-image: url("assets/background-images/nyc.png");
}

.paris {
  background-image: url("assets/background-images/paris.png");
}

.berlin {
  background-image: url("assets/background-images/berlin.png");
}

.rome {
  background-image: url("assets/background-images/rome.png");
}

.austin {
  background-image: url("assets/background-images/austin.png");
}

.mountains {
  background-image: url("assets/background-images/mountains.png");
}

.wood {
  background-image: url("assets/background-images/wood.png");
}

.forest {
  background-image: url("assets/background-images/forest.png");
}

.stats-bar {
  background-color: black;
  color: white;
  width: 1200px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.stats-bar div {
  display: inline-block;
  font-size: 27px;
}

.stats-bar span {
  font-weight: bold;
  font-size: 27px;
  font-family: "Computo Monospace" !important;
}

.pause-menu {
  background-color: black;
  color: red;
  width: 1200px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  visibility: visible;
  z-index: 2;
}

.pause-menu div {
  display: inline-block;
  font-size: 27px;
}

.pause-menu span {
  font-weight: bold;
  font-size: 27px;
}

.title {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: red;
}

.credits {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.credits-column {
  width: 48%;
  padding: 10px;
}

.h0 {
  font-size: 28px;
  color: white;
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji",
    "Arial", sans-serif !important;
}

.h1 {
  font-size: 28px;
  color: white;
}

.h2 {
  font-size: 21px;
  color: rgb(174, 173, 173);
}

.h3 {
  font-size: 20px;
  font-weight: italic;
  color: rgb(66, 66, 66);
  font-family: "Times New Roman", Times, serif !important;
}

#end-game-scoreboard-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.pause-menu-modify {
  display: block;
  text-align: center;
  position: relative;
  top: 32px;
}
.pause-menu-modify div {
  margin: 0rem 12rem;
}
h1 {
  margin-bottom: 2px;
}

.score-entry:nth-child(3) {
  color: white;
}

.score-entry:nth-child(4) {
  color: grey;
}

.score-entry:nth-child(5) {
  color: white;
}

.score-entry:nth-child(6) {
  color: grey;
}

.score-entry:nth-child(7) {
  color: white;
}

.score-entry:nth-child(8) {
  color: grey;
}

.score-entry:nth-child(9) {
  color: white;
}

.score-entry:nth-child(10) {
  color: grey;
}
.score-entry:nth-child(11) {
  color: white;
}

.score-entry:nth-child(12) {
  color: grey;
}
.score-entry {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.score-entry span {
  flex: 0.5;
  text-align: center;
}

#banner {
  background-image: url("header.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#end-game-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#score-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#player-name {
  width: 360px;
  padding: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  border: none;
  border-radius: 8px;
  background-color: rgb(248, 184, 164);
  font-size: 2rem;
  text-align: center;
  outline: none;
  font-family: "Azimov";
  caret-color: black;
}

.game-over-text {
  font-size: 7rem;
  color: red;
}

@keyframes flash {
  0%,
  100% {
    background-color: #4caf50;
  }
  50% {
    background-color: #39ff14;
  }
}

.game-over-stats {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@keyframes colorChange {
  10% {
    color: red;
  }
  20% {
    color: #0000ff;
  }
  30% {
    color: #00ff00;
  }
  40% {
    color: #ffff00;
  }
  50% {
    color: #ff00ff;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #ffa500;
  }
  80% {
    color: #800080;
  }
  90% {
    color: #008000;
  }
  100% {
    color: #000080;
  }
}

.stat-input {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  animation: colorChange 7s infinite;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.player-input {
  text-align: center;
  width: 80%;
  font-size: 10rem;
  align-items: center;
}

.player-input input::placeholder {
  font-family: "Azimov";
  color: rgb(249, 130, 130);
}

.stat-group {
  text-align: center;
}

.stat-label {
  font-size: 2rem;
  color: rgb(243, 16, 16);
}

#high-scores-header {
  color: #fff;
}

.message {
  font-size: 1.7rem;
  color: rgb(127, 208, 4);
  margin: 2rem 0;
}

.story-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 80% auto auto;
  flex-wrap: nowrap;
}

.story-container .img,
.story-container .text {
  align-self: center;
}

.story-container .img img {
  width: 100%;
  object-fit: contain;
}

.hidden {
  display: none;
}
