body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 100vh;
}
:root {
  --conatinerHeight: 770px;
  --playerHeight: 33px;
}
.game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: var(--conatinerHeight);
  background-color: black;
  z-index: 1;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes fadeRed {
  0% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.fade-red {
  animation: fadeRed 1s forwards;
}

.aliens-grid {
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  width: 660px;
  height: 300px;
  z-index: 1;
}

.aliens-grid > div {
  width: 60px;
  height: 60px;
  background-image: url("aliens.png");
  transform: scale(0.5);
}

@keyframes squidAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -120px 0;
  }
}

@keyframes crabAnimation {
  0% {
    background-position: 0 -60px;
  }
  50% {
    background-position: -120px -60px;
  }
  100% {
    background-position: 0 -60px;
  }
}

@keyframes blobAnimation {
  0% {
    background-position: 0 -120px;
  }
  50% {
    background-position: -60px -120px;
  }
}

@keyframes squidBlackAnimation {
  0% {
    background-position: 0 -180px;
  }
  50% {
    background-position: -120px -180px;
  }
  100% {
    background-position: 0 -180px;
  }
}

@keyframes crabBlackAnimation {
  0% {
    background-position: 0 -240px;
  }
  50% {
    background-position: -120px -240px;
  }
  100% {
    background-position: 0 -240px;
  }
}

@keyframes blobBlackAnimation {
  0% {
    background-position: 0 -300px;
  }
  50% {
    background-position: -60px -300px;
  }
}

.squid {
  animation: squidAnimation 1s infinite steps(2);
}

.crab {
  animation: crabAnimation 1s infinite steps(2);
}

.blob {
  animation: blobAnimation 0.5s infinite steps(1);
}

.squid-black {
  animation: squidBlackAnimation 1s infinite steps(2);
}

.crab-black {
  animation: crabBlackAnimation 1s infinite steps(2);
}

.blob-black {
  animation: blobBlackAnimation 0.5s infinite steps(1);
}

.aliens-grid > div.alien-explosion,
.alien-explosion {
  transform: scale(0.5);
  width: 60px;
  height: 60px;
  background-position: cover;
  background-repeat: no-repeat;
  background-image: url("explosion.png");
}

.explosion {
  background-image: url("explosion.png");
}

.player-bullet {
  position: absolute;
  background-image: url("bullet.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 3px;
  height: 30px;
  filter: brightness(360%);
}

.alien-bullet {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
}

.lightning {
  animation: lightningAnimation 0.1s infinite steps(2);
  background-image: url("lightning.png");
  background-size: cover;
}

@keyframes lightningAnimation {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -10px;
  }
}

@keyframes fireballAnimation {
  0% {
    background-image: url("fireball.png");
  }
  50% {
    background-image: url("fireball2.png");
  }
  100% {
    background-image: url("fireball1.png");
  }
}

.cross {
  background-image: url("cross.png");
}

.fireball {
  background-image: url("fireball.png");
  animation: fireballAnimation 0.1s infinite;
  background-size: 50%;
  width: 30px;
  height: 120px;
}

.ufo-container {
  position: absolute;
}

.ufo {
  /* position: absolute; */
  background-image: url("RedShip128wx64H.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.beam {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 0;
  background-color: yellow;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: bg 0.5s infinite, extendBeam 5s forwards;
  padding: 0;
}

@keyframes bg {
  0% {
    background-color: rgb(255, 255, 0, 0.5);
  }
  50% {
    background-color: rgb(255, 255, 0, 1);
  }
  100% {
    background-color: rgb(255, 255, 0, 0.5);
  }
}

@keyframes extendBeam {
  0% {
    height: 0px;
  }

  100% {
    height: calc((var(--conatinerHeight) - var(--playerHeight)) - 17px);
  }
}
.opposite-beam {
  animation: oppositeExtendBeam 3s forwards;
}

@keyframes oppositeExtendBeam {
  0% {
    height: calc((var(--conatinerHeight) - var(--playerHeight)) - 10px);
    /* background-color: rgba(255, 255, 0, 1); */
  }
  /* 50% {
    height: 50vh;
    background-color: rgba(255, 255, 0, 0.5); */
  /* } */
  100% {
    height: 0;
    /* background-color: rgba(255, 255, 0, 0.2); */
  }
}

/* .ufo {
  position: fixed;
  background-image: url("RedShip128wx64H.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
} */

.ufo > div.ufo-explosion,
.ufo-explosion {
  position: absolute;
  background-image: url("explosion.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.block {
  width: 48px;
  height: 48px;
  background-image: url("barriers.png");
  background-position-y: 0px;
}

.barrier {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 192px;
  height: 144px;
}

.player {
  position: absolute;
  width: 33px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 90%;
  left: 50%;
}

.player-beam {
  animation: movePlayerUp 3s forwards;
}
@keyframes movePlayerUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(
      calc(-1 * (var(--conatinerHeight) - var(--playerHeight) - 17px))
    );
    opacity: 0;
  }
}

.life-1 {
  background-image: url("player3.png");
}

.life-2 {
  background-image: url("player2.png");
}

.life-3 {
  background-image: url("player1.png");
}

.life {
  background: url("player3.png") center center / cover no-repeat;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.backdrop {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: -1;
}

.london {
  background-image: url("london.png");
}

.chicago {
  background-image: url("chicago.png");
}

.nyc {
  background-image: url("nyc.png");
}

.paris {
  background-image: url("paris.png");
}

.berlin {
  background-image: url("berlin.png");
}

.rome {
  background-image: url("rome.png");
}

.austin {
  background-image: url("austin.png");
}

.mountains {
  background-image: url("mountains.png");
}

.wood {
  background-image: url("wood.png");
}

.forest {
  background-image: url("forest.png");
}

.stats-bar {
  background-color: black;
  color: white;
  width: 1200px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: auto;
}

.stats-bar div {
  display: inline-block;
  font-size: 27px;
}

.stats-bar span {
  font-weight: bold;
  font-size: 27px;
}

.pause-menu {
  background-color: black;
  color: red;
  width: 1200px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  visibility: visible;
  z-index: 2;
}

.pause-menu div {
  display: inline-block;
  font-size: 27px;
}

.pause-menu span {
  font-weight: bold;
  font-size: 27px;
}

.title {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: red;
}

.credits {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.h1 {
  font-size: 28px;
  color: white;
}

.h2 {
  font-size: 24px;
  color: rgb(174, 173, 173);
}

.h3 {
  font-size: 16px;
  font-weight: italic;
  color: rgb(66, 66, 66);
}

/* shane score styles */

#end-game-scoreboard-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;

  /* font-family: "Audiowide", sans-serif; */
}

.pause-menu-modify {
  display: block;
  text-align: center;
}
.pause-menu-modify div {
  margin: 0rem 12rem;
}
h1 {
  margin-bottom: 2px;
}

.score-entry:nth-child(3) {
  color: white;
}

.score-entry:nth-child(4) {
  color: grey;
}

.score-entry:nth-child(5) {
  color: white;
}

.score-entry:nth-child(6) {
  color: grey;
}

.score-entry:nth-child(7) {
  color: white;
}

.score-entry:nth-child(8) {
  color: grey;
}

.score-entry:nth-child(9) {
  color: white;
}

.score-entry:nth-child(10) {
  color: grey;
}
.score-entry:nth-child(11) {
  color: white;
}

.score-entry:nth-child(12) {
  color: grey;
}
.score-entry {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.score-entry span {
  flex: 0.5;
  text-align: center;
}

#banner {
  background-image: url("header.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* SCOREINPUT */

#end-game-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

#score-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#player-name {
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background-color: rgb(243, 235, 235);
  font-size: 1.7rem;
  text-align: center;
  /* font-family: "Audiowide", sans-serif; */
  outline: none;
  margin-bottom: 75px;
}

.gameOverText {
  /* font-family: "Audiowide", sans-serif; */
  font-size: 8rem;
}

@keyframes flash {
  0%,
  100% {
    background-color: #4caf50;
  }
  50% {
    background-color: #39ff14;
  }
}

button {
  padding: 5px 40px;
  margin: 20px;
  border: none;
  border-radius: 25px;
  background-color: #4caf50;
  color: greenyellow;
  border: greenyellow solid 4px;
  font-size: 2rem;
  /* font-family: "Audiowide", sans-serif; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  animation: flash 1s linear infinite;
}

button:hover {
  text-shadow: 10px 7.5px 5px #ff0000;
}

.gameOver-stats {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@keyframes colorChange {
  10% {
    color: red;
  }
  20% {
    color: #0000ff;
  }
  30% {
    color: #00ff00;
  }
  40% {
    color: #ffff00;
  }
  50% {
    color: #ff00ff;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #ffa500;
  }
  80% {
    color: #800080;
  }
  90% {
    color: #008000;
  }
  100% {
    color: #000080;
  }
}

.stat-input {
  background-color: transparent;
  border: none;
  /* font-family: "Audiowide", sans-serif; */
  font-size: 3rem;
  animation: colorChange 7s infinite;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.player-input {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 10rem;
}

.stat-group {
  text-align: center;
}

.stat-label {
  /* font-family: "Audiowide", sans-serif; */
  font-size: 2rem;
  color: rgb(243, 16, 16);
}

#high-scores-header {
  color: #fff;
}

.message {
  font-size: 1.7rem;
  color: rgb(243, 16, 16);
  margin: 2rem 0;
}

.press-any-key {
  color: red;
  font-size: 27px;
}

.story-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 80% auto;
  flex-wrap: nowrap;
}

.story-container .img {
  display: flex;
  align-items: center;
}

.story-container .img img {
  width: 100%;
  object-fit: contain;
}

.text {
  padding-left: 1rem;
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
}

.text pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.urnPage